<html>
  <head>
    <title>This is the title of the webpage!</title>
  </head>
    <style>
      .hidden{
        display: none;
      }
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
      }
    </style>
  <body>
    <form id="todo-form">
      <div id="todo-div">
        <label for="todo-form">Create a To-Do item</label>
        <input type="text" id="form-value" name="todo-form" value="">
      <div>
        <input type="submit" value="submit">
      </div>
    </form>
    <div id="error" class="hidden">Something Went Wrong!</div>
    <ul id="todos-list">
      {% for d in data %}
      <li>
        <input type="checkbox" class="check-completed" data-id="{{ d.id }}" {% if d.completed %}  checked {% endif %} /> {{d.description}} 
      </li>
      {% endfor %}
    </ul>

    <script>
      //Check box AJAX
      const checkBoxes = document.querySelectorAll('.check-completed');
      checkBoxes.forEach(box => {
        box.onchange = function(e) {
          //Log event for testing
          console.log('event', e)
          const completedCheck = e.target.checked
          const todoId = e.target.dataset['id']
          fetch('/todos/' + todoId + '/set-completed', {
            method: 'POST',
            body: JSON.stringify({
              'completed': completedCheck
            }),
            headers:{
              'Content-Type': 'application/json'
            }
          })
          .then(function(){
            document.getElementById("error").className = 'hidden';
          })
          .catch(function(){
            document.getElementById("error").className = '';
          })
        }
      })

      //Form submit AJAX (via fetch)
      document.getElementById('todo-form').onsubmit = function(event){
        event.preventDefault();
        fetch('/todos/createtodo', {
          method: 'POST',
          body: JSON.stringify({
            'description': document.getElementById('form-value').value
          }),
          headers:{
            'Content-Type': 'application/json'
          }
        })
        .then(function(response){
          return response.json();
        })
        .then(function(jsonResponse){
          console.log(jsonResponse)
          const liItem = document.createElement('li')
          liItem.innerText = jsonResponse.description
          document.getElementById('todos-list').appendChild(liItem)
          document.getElementById('error').className = 'hidden'
        })
        .catch(function(){
          document.getElementById("error").className = '';
        })
      }
    </script>
  </body>
</html>